<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Special Price</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Percentage">Discount %</label>
                        <input type="number" min="0" max="100" class="form-control" id="txtPercentage" placeholder="0">
                    </div>
                    <div class="col-md-6">
                        <label for="Price">Price</label>
                        <input type="number" id="txtPrice" class="form-control" placeholder="Price">
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSavePrice">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseModel">Close</button>
            </div>

        </div>
    </div>
</div>