@model Evaluation.UI.Models.Dashboard.PolicyInquiryVM
@{
	ViewData["Title"] = "Dashboard";
	ViewData["SubTitle"] = "Polcies Inquiry";
}
<link href="~/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/assets/extra-libs/datatables.net-bs4/css/responsive.dataTables.min.css" />
<table id="tPolicy" style="width:100%" class="responsive table table-bordered compact"></table>
@section Scripts {
	<script>
		var datatable = @Html.Raw(Json.Serialize(Model.PolicyInquiry));
	</script>
	<script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="~/assets/extra-libs/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
	<script src="~/js/dashboard/policies.js"></script>
}
