@model Evaluation.UI.Models.Dashboard.TicketHistoryVM
@{
	ViewData["Title"] = "Dashboard";
	ViewData["SubTitle"] = "Ticket History";
}
<link href="~/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css"
	  rel="stylesheet" />
<link rel="stylesheet"
	  type="text/css"
	  href="~/assets/extra-libs/datatables.net-bs4/css/responsive.dataTables.min.css" />
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link d-flex active" data-bs-toggle="tab" href="#newBusiness" role="tab">
            <span>
                <i class="fas fa-hands-helping" ></i>
            </span>
            <span class="d-none d-md-block ms-2" style="color: #d51810;">New Business</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex " data-bs-toggle="tab" href="#renewal" role="tab">
            <span>
                <i class="fas fa-file-alt" ></i>
            </span>
            <span class="d-none d-md-block ms-2" style="color: #d51810;">Renewal</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex " data-bs-toggle="tab" href="#claims" role="tab">
            <span>
                <i class="fas fa-gift" ></i>
            </span>
            <span class="d-none d-md-block ms-2" style="color: #d51810;">Claims</span>
        </a>
    </li>
</ul>
<!-- Tab panes -->

<div class="tab-content">
    <div class="tab-pane active" id="newBusiness" role="tabpanel">
        <div class="">
            <br />
            <form id="formSearch">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label" for="Nbr">Number of days passed</label>
                    </div>
                    <div class="col-md-2">
                        <input type="search" id="txtNbrofDays" name="Nbr" value="15" class="form-control" />
                    </div>

                </div>
            </form>
            <table id="tTicketHistory" style="width:100%" class="responsive table table-bordered compact">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="renewal" role="tabpanel">
        <div class="">
            <br />
            <form id="formSearchRenewal">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label" for="Nbr">Number of days passed</label>
                    </div>
                    <div class="col-md-2">
                        <input type="search" id="txtNbrofDaysRenewal" name="Nbr"  class="form-control" />
                    </div>

                </div>
            </form>
            <table id="tTicketHistoryRenewal" style="width:100%" class="responsive table table-bordered compact">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="claims" role="tabpanel">
        <div class="">
        </div>
    </div>
</div> 

@section Scripts {
	<script>
		var datatable = @Html.Raw(Json.Serialize(Model.TicketHistory));
	</script>
	<script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="~/assets/extra-libs/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
	<script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>

	<script src="~/js/dashboard/tickethistory.js"></script>

}
