@{
    ViewData["Title"] = "Home";
    ViewData["SubTitle"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
  @*  <select class="select2 "  >
       <option>213</option>
       <option>21233</option>
       <option>23</option>
   </select>
    <select class="form-select">
        <option>213</option>
        <option>21233</option>
        <option>23</option>
    </select>  *@

</div>
