 <!-- -------------------------------------------------------------- -->
<!-- Container fluid  -->
<!-- -------------------------------------------------------------- -->
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-12 align-self-center">
            @*<breadcrumb></breadcrumb>*@
            <ol class="breadcrumb mb-0 p-0 bg-transparent">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">@ViewData["Title"]</a>
                </li>
                <li class="breadcrumb-item active d-flex align-items-center">
                    @ViewData["SubTitle"]
                </li>
            </ol>
        </div>

    </div>
</div>
<!-- -------------------------------------------------------------- -->
<!-- Start Page Content -->
<!-- -------------------------------------------------------------- -->
