<table id="tableContact" class="table table-striped">
    <thead>
        <tr>
           
            <th>Full Name</th>
            <th style="width:50px">Gender</th>
            <th style="width:50px">YOB</th>
            <th style="width:50px">Company</th>
            <th>Job</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
