@page
@model Evaluation.UIL.Views.TestModel
@{ 
    //Layout = "_Layout";
    ViewData["Title"] = "Test"; 
    }

<h2>Test</h2>
<h3>Test</h3>

<address>
    One Microsoft Way<br>
    Redmond, WA 98052-6399<br>
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="">Test</a><br>
    <strong>Marketing:</strong> <a href="">Test</a>
</address>